<div class="space-y-2">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    <%= track.name %>
  </h3>

  <%= render(PlayerComponent.new(track: track, repeat: session["list_#{track.list.id}"]["repeat"], shuffle: session["list_#{track.list.id}"]["shuffle"])) %>
</div>

